*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
    width: 100%;
}

.parent{
    height: 400px;
    width: 300px;
    background-color: chartreuse ;
}

@media (max-width:600px){
    .parent{
        background-color: blue;
    }
}