:root {
    --grey: #212121;
    --green: #02E797;
    --black: #0c0c0c;
    --white: #e9e9e9;
    --padding-x: 70px;
}

@font-face {
    font-family: chacha;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}

@font-face {
    font-family: Helvetica;
    src: url(./HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    font-family: Helvetica, sans-serif;
}


main {
    padding: 15px var(--padding-x);
}

nav {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px var(--padding-x);
}


#nav1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav1 img {
    height: 50px;
}

#nav1 h2 {
    font-size: 20px;
    font-family: chacha;
    line-height: 1.1;
}


#nav2 {
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav2 h4 {
    font-size: 19px;
    font-weight: 300;
}

#nav2 .profile {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--white);
}


#nav3 {
    display: none;
    gap: 20px;
}

#nav3 h2 {
    font-size: 20px;
    font-weight: 300;
}

.green {
    color: #02E797
}

.section1 {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.section1 #left {
    width: 42%;
}

#left h1 {
    font-size: 48px;
    line-height: 1.2;
}

.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 25px 0;
}

.tags h4 {
    padding: 6px 28px;
    background-color: var(--grey);
    border-radius: 6px;
    font-size: 15px;
}

#left h3 {
    font-size: 42px;
    margin-top: 45px;
}

#left h3 span {
    font-size: 30px;
    /* apni marzi ka size */
    font-weight: 600;
    /* optional */
}

#left h5 {
    letter-spacing: 2px;
    font-size: 15px;
}

#left div button {
    margin: 25px 10px 15px 0;
    padding: 20px 60px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#left div #btn {
    background-color: #149669;
    color: #e9e9e9;
    font-weight: 800;
    font-size: 22px;
}

#left div #btn1 {
    font-weight: 600;
    font-size: 22px;
}


#left h6 {
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #e9e9e9;
}

#left h6 .o {
    font-size: 20px;
    color: #02E797;
}

#right {
    background-color: #212121;
    border-radius: 10px;
    width: 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#right img {
    width: 100%;
    border-radius: 10px;
}

#right .bottom {

    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

#right h4 {
    background-color: var(--black);
    border-radius: 10px;
    padding: 18px 20px;
    font-weight: 300;
    width: 48%;
    text-align: left;
}

#right h4 span {
    font-weight: 600;
}




@media (max-width: 600px) {

    :root {
        --padding-x: 25px;
    }

    nav {
        padding: 10px var(--padding-x);
    }

    #nav2 {
        display: none;
    }

    #nav3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    
    .section1 {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .section1 #left,
    .section1 #right {
        width: 100%;
    }

    
    #left h1 {
        font-size: 32px;
    }

    #left h3 {
        font-size: 26px;
    }

    #left h3 span {
        font-size: 20px;
    }

    .tags h4 {
        padding: 6px 16px;
        font-size: 13px;
    }

    #left h5 {
        font-size: 13px;
    }

    #left div button {
        width: 100%;
        padding: 16px;
        margin: 12px 0;
        font-size: 18px;
    }

    #right {
        padding: 18px;
    }

    #right .bottom h4 {
        width: 48%;
        padding: 14px 12px;
        font-size: 14px;
    }
}
